Coded with: https://www.youtube.com/watch?v=WcDaZ67TVRo

In [ ]:
# Imports
import pandas as pd
import numpy as np

# 1. Creating a dataframe from an array

## 1.1 Option 1

In [ ]:
# Creating an array
data = np.array([[1, 4], [5, 7], [9, 3]])

In [ ]:
# Creating a dataframe
df = pd.DataFrame(data, index=["row1", "row2", "row3"], columns=["col1", "col2"])

In [ ]:
# Showing the dataframe
df

## 1.2 Option 2

In [ ]:
# Creating an array
data = [[1, 4], [5, 7], [9, 3]]

In [ ]:
# Creating a dataframe
df = pd.DataFrame(data, index=["row1", "row2", "row3"], columns=["col1", "col2"])

In [ ]:
# Showing the dataframe
df

# 2. Creating a dataframe from a dictionary

In [ ]:
# Lists used for this example
states = ["California", "Texas", "Florida", "New York"]
population = [39613495, 29730311, 21944577, 19299981]

In [ ]:
# Storing lists within a dictionary
dict_states = {"States": states, "Population": population}

In [ ]:
# Creating the dataframe
df_population = pd.DataFrame(dict_states)

In [ ]:
# Showing the dataframe
df_population

# 3. Creating a dataframe from a csv file

In [ ]:
# Reading the csv file
df_exams = pd.read_csv("students_performance.csv")

In [ ]:
# Show first 5 rows in a dataframe
df_exams.head()

# 4. Displaying a dataframe

In [ ]:
# Reading the csv file
df_exams = pd.read_csv("students_performance.csv")

In [ ]:
# Show first 5 rows in a dataframe
df_exams.head()

In [ ]:
# Show last 5 rows in a dataframe
df_exams.tail()

In [ ]:
# Show last n rows in a dataframe
df_exams.tail(10)

In [ ]:
# Getting access to the shape attribute
df_exams.shape

In [ ]:
# Display n rows
pd.set_option("display.max_rows", 1000)
df_exams

# 5. Basic attributes, methods and functions

In [ ]:
# Reading the csv file
df_exams = pd.read_csv("students_performance.csv")

In [ ]:
# Showing the dataframe
df_exams

## 5.1 Attributes

In [ ]:
# Getting access to the shape attribute
df_exams.shape

In [ ]:
# Getting access to the index attribute
df_exams.index

In [ ]:
# Getting access to the column attribute
df_exams.columns

In [ ]:
# Data types of each column
df_exams.dtypes

## 5.2 Methods

In [ ]:
# Showing the first 5 columns
df_exams.head()

In [ ]:
# Showing the info of the dataframe
df_exams.info()

In [ ]:
# Describing basic statistics of the dataframe
df_exams.describe()

## 5.3 Functions

In [ ]:
# Obtaining the length of the dataframe (number of rows)
len(df_exams)

In [ ]:
# Obtaining the highest index of the dataframe
max(df_exams.index)

In [ ]:
# Obtaining the lowest index of the dataframe
min(df_exams.index)

In [ ]:
# Obtaining the data type
type(df_exams)

In [ ]:
# Rounding the values of the dataset
round(df_exams, 2)

# 6. Selecting one column

## 6.1 Syntax 1

In [ ]:
# Reading the csv file
df_exams = pd.read_csv("students_performance.csv")

In [ ]:
# Select a column with [] (preferred way to select a column)
df_exams["gender"]

In [ ]:
# Check out the data type of a column
type(df_exams["gender"])

In [ ]:
# Series: attributes and methods
df_exams["gender"].index
df_exams["gender"].head()

## 6.2 Syntax 2

In [ ]:
# Select a column with '.'
df_exams.gender

In [ ]:
# Select a column with '.' (pitfalls)
df_exams.math score

In [ ]:
# Select the same column using []
df_exams["math score"]

# 7. Selecting two or more columns

In [ ]:
# Reading the csv file
df_exams = pd.read_csv("students_performance.csv")
df_exams

In [ ]:
# Select two columns using [[]]
df_exams[["gender", "math score"]]

In [ ]:
# Check out the data type of the selection
type(df_exams[["gender", "math score"]])

In [ ]:
# Select two or more columns using [[]]
df_exams[["gender", "math score", "reading score", "writing score"]]

We can't select two or more columns with '.' like we did above.

# 8. Adding new column to a dataframe

In [ ]:
# Reading the csv file
df_exams = pd.read_csv("students_performance.csv")
df_exams

## 8.1 Adding a new column with a scalar value

In [ ]:
# Adding new column to a dataframe
df_exams["language score"] = 70
df_exams

## 8.2 Adding a new column with an array

The dataframe has 1000 rows, so we need to create an arrat with 1000 elements.

In [ ]:
# Create an array of 1000 elements using numpy
language_score = np.arange(0, 1000)

In [ ]:
# Length of the array
len(language_score)

In [ ]:
# Adding a new column to dataframe with an array
df_exams["language score"] = language_score
df_exams

In [ ]:
# Create random integer numbers between 1 and 100
int_language_score = np.random.randint(1, 100, size=1000)

In [ ]:
# Min value inclusive and high value exclusive
min(int_language_score)
max(int_language_score)

In [ ]:
# Adding a new column to dataframe with an array
df_exams["language score"] = int_language_score
df_exams

In [ ]:
# Create random float numbers between 1 and 100
np.random.uniform(1, 100, size=100)

# 9. Operations on dataframes

## 9.1 Math operations

In [ ]:
# Reading the csv file
df_exams = pd.read_csv("students_performance.csv")
df_exams

### 9.1.1 Operations in columns

In [ ]:
# Select a column and calculate total sum
df_exams["math score"].sum()

In [ ]:
# count, mean, std, max, min
df_exams["math score"].count()
df_exams["math score"].mean()
df_exams["math score"].std()
df_exams["math score"].max()
df_exams["math score"].min()

In [ ]:
# Easier calculation with .describe()
df_exams["math score"].describe()

### 9.1.2 Operations in rows

In [ ]:
# Calculating the sum in a row
df_exams["math score"] + df_exams["reading score"] + df_exams["writing score"]

In [ ]:
# Calculating the average score and assigning the result to a new column
df_exams["average"] = (df_exams["math score"] + df_exams["reading score"] + df_exams["writing score"]) / 3

In [ ]:
# Showing the dataframe
df_exams.round(2)

# 10. The value_counts() method

In [ ]:
# Reading the csv file
df_exams = pd.read_csv("students_performance.csv")
df_exams

## 10.1 Value counts

In [ ]:
# Counting gender elements
# Length function
len(df_exams["gender"])

# .count() method
df_exams["gender"].count()

In [ ]:
# Counting gender elements by category
df_exams["gender"].value_counts()

In [ ]:
# Return the relative frequency (divide all values by the sum of values)
df_exams["gender"].value_counts(normalize=True)

In [ ]:
# Counting "parental level of education" elements by category
df_exams["parental level of education"].value_counts()

In [ ]:
# Return the relative frequency and round to two decimals
df_exams["parental level of education"].value_counts(normalize=True).round(2)

# 11. Sort a dataframe with sort_values()

In [ ]:
# Reading the csv file
df_exams = pd.read_csv("students_performance.csv")
df_exams

## 11.1 Sort a dataframe

In [ ]:
# Sort by one column
df_exams.sort_values("math score")

In [ ]:
# Sort descending by one column
df_exams.sort_values("math score", ascending=False)

In [ ]:
# Sort descending by multiple columns
df_exams.sort_values(["math score", "reading score"], ascending=False)

In [ ]:
# Sort descending by multiple columns and update dataframe
df_exams.sort_values(["math score", "reading score"], ascending=False, inplace=True)
df_exams

In [ ]:
# Sort descending with a key function
df_exams.sort_values("race/ethnicity", ascending=True, key=lambda col:col.str.lower())

# 12. Pivot Tables

In [ ]:
# Read and show the dataset
df_gdp = pd.read_csv("gdp.csv", encoding="latin-1")
df_gdp

## 12.1 pivot()

In [ ]:
# Reshape the dataframe with .pivot()
df_gdp.pivot(index="country", columns="year", values="gdppc")

## 12.2 pivot_tables()

In [ ]:
# Read and show the dataset
df_sales = pd.read_excel("supermarket_sales.xlsx")
df_sales

In [ ]:
# Make a pivot table and add aggregate function
df_sales.pivot_table(index="Gender", aggfunc="sum")

In [ ]:
# Make a pivot table, add an aggregate function and select some columns
df_sales.pivot_table(index="Gender", values=["Quantity", "Total"], aggfunc="sum")

In [ ]:
# Make a pivot tables that says how much male and female spend in each category
df_sales.pivot_table(index="Gender", columns="Product line", values="Total", aggfunc="sum")

# 13. Dataset overview and making a pivot table

In [ ]:
# Read and show the dataset
df_population_raw = pd.read_csv("population_total.csv")
df_population_raw

## 13.1 Making a pivot table

.pivot(): Returns reshaped DataFrame organized by given index / column values ("pivot without aggregation")

In [ ]:
# Dropping null values
df_population_raw.dropna(inplace=True)

In [ ]:
# Making a pivot table
df_pivot = df_population_raw.pivot(index="year", columns="country", values="population")

In [ ]:
# Selecting few countries
df_pivot = df_pivot[["Poland", "Germany", "Norway", "France", "Austria"]]

In [ ]:
# Showing pivot table
df_pivot

## 13.2 Data Visualization

### 13.2.1 Lineplot

In [ ]:
df_pivot.plot(kind="line", xlabel="Year", ylabel="Population", title="Population 1955-2020", figsize=(15, 10))

### 13.2.2 Barplot

#### 13.2.2.1 Single barplot

In [ ]:
# Selecting only one year
df_pivot_1995 = df_pivot[df_pivot.index.isin([1995])]

In [ ]:
# Showing new dataframe
df_pivot_1995

In [ ]:
# Transpose dataframe from rows to columns or viceversa
df_pivot_1995 = df_pivot_1995.T

In [ ]:
# Making barplot
df_pivot_1995.plot(kind="bar", color="orange", xlabel="Year", ylabel="Population", title="Population in 1995", figsize=(15, 10))

#### 13.2.2.2 Barplot grouped by n variables

In [ ]:
# Selecting a few years
df_pivot_sample = df_pivot[df_pivot.index.isin([1995, 2000, 2005, 2010])]
df_pivot_sample

In [ ]:
# Making grouped barplot
df_pivot_sample.plot(kind="bar", xlabel="Year", ylabel="Population", title="Population in 1995", figsize=(15, 10))

### 13.2.3 Piechart

In [ ]:
# Changing column name
df_pivot_1995.rename(columns={1995:"1995"}, inplace=True)

In [ ]:
# Making the plot
df_pivot_1995.plot(kind="pie", y="1995", title="Population in 1995(%)")

# 14. Adding matplotlib

In [ ]:
import matplotlib.pyplot as plt

## 14.1 Lineplot

In [ ]:
df_pivot.plot(kind="line", xlabel="Years", ylabel="Population", title="Population 1955-2020", figsize=(15, 10))

# Save plot as image
plt.savefig("my_test.png")

# Show plot
plt.show()

In [ ]:
# Save plot as spreadsheet
df_pivot.to_excel("pivot_table.xlsx")